@import "../../global";

.gig {
  background: url("/img/background.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-left: 120px;

  .container {
    background: url("../../assets/ellipse2.png") no-repeat;
    display: flex;
    gap: 50px;
    width: 100%;
    padding-top: 80px;

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-family: $font-family-secondary;
      color: $text-color-pages;

      .carousel-prev,
      .carousel-next {
        color: white;
        width: 50px;
        position: absolute;
        height: 50px;
        background-color: #130160;
        border-radius: 50%;
        top: 0;
        bottom: 0;
        margin: auto;

        &::before {
          filter: contrast(0) brightness(2);
        }
      }
      .breadCrumbs {
        font-size: $font-size-small;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: $font-size-medium;

        .pp {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: $font-size-small;
          font-weight: bold;
          color: black;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            height: 14px;
            width: 14px;
          }

          span {
            font-weight: bold;
            color: $secondary-color;
          }
        }
      }

      .slider {
        width: 550px;

        img {
          border-radius: 10px;
          max-height: 400px;
          object-fit: contain;
        }
      }

      h2 {
        font-weight: 600;
        font-family: $font-family-primary;
        color: black;
      }

      p {
        font-weight: 300;
        line-height: 25px;
        width: 550px;
        margin-top: 0;
      }

      .seller {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .user {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span {
              font-size: $font-size-medium;
            }

            .stars {
              display: flex;
              align-items: center;
              gap: 5px;

              img {
                height: 14px;
                width: 14px;
              }

              span {
                font-size: $font-size-small;
                font-weight: bold;
                color: $secondary-color;
              }
            }

            button {
              background-color: white;
              border-radius: 10px;
              border: 1px solid $text-color-pages;
              padding: 5px;
              font-weight: bold;
              color: $text-color-pages;
              cursor: pointer;
            }
          }
        }

        .box {
          width: 550px;
          border: 1px solid $text-color-pages;
          border-radius: 5px;
          padding: 20px;
          margin-top: 20px;
        }

        .items {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }

        .item {
          width: calc(50% - 10px);
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 20px;

          .title {
            font-weight: 600;
          }
        }

        hr {
          height: 0;
          border: 0.5px solid lightgray;
          margin-bottom: 10px;
        }
      }

      .reviews {
        margin-top: 20px;

        .top {
          display: flex;
          justify-content: column;
          justify-content: space-between;
          align-items: center;
          width: 550px;

          h3 {
            cursor: pointer;
            color: black;
            font-size: $font-size-small;
            text-decoration: underline;
          }
        }

        .item {
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin: 20px 0px;

          .user {
            display: flex;
            align-items: center;

            .pp {
              height: 50px;
              width: 50px;
              border-radius: 50%;
            }

            .country {
              display: flex;
              align-items: center;
              gap: 10px;
              color: $text-color-pages;

              img {
                width: 20px;
              }
            }
          }

          .stars {
            display: flex;
            gap: 5px;

            img {
              height: 14px;
              width: 14px;
            }

            span {
              font-size: 14px;
              font-weight: bold;
              color: #ffc108;
            }
          }

          .helpful {
            display: flex;
            align-items: center;
            gap: 10px;
            color: black;
            font-weight: bold;
            font-size: $font-size-small;

            h1 {
              font-size: $font-size-small;
            }

            span {
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            img {
              width: 14px;
            }

            .thumbsdown {
              transform: scaleY(-1);
            }
          }
        }

        hr {
          height: 0;
          border: 0.5px solid lightgray;
          margin: 20px 0px;
          width: 550px;
        }
      }
    }

    .right {
      right: 80px;
      font-family: $font-family-secondary;
      color: $text-color-pages;
      flex: 1;
      box-shadow: $card-shadow;
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: max-content;
      max-height: 500px;
      width: 400px;
      position: sticky;
      top: 200px;

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 17px;
        margin: 0;

        h2 {
          font-weight: 600;
          color: $secondary-color;
        }

        h3 {
          color: $text-color;
          font-weight: 600;
        }
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f9f9fa;
        font-size: 14px;
        padding: 10px;
        margin-top: 0px;
        margin-bottom: 15px;

        .item {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 20px;
          }
        }
      }

      .more {
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 300;
          color: gray;
          margin-bottom: 5px;

          img {
            width: 14px;
          }
        }
      }

      button {
        background-color: $secondary-color;
        padding: 10px;
        color: white;
        font-weight: 500;
        border: none;
        font-size: $font-size-medium;
        cursor: pointer;
        width: 150px;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 10px;
      }
    }
  }
}
